<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/javapro/OrangeHRM">
        <classes>
            <class name="test.LoginTest"></class>
            <class name="test.AddNewEmployeeTest"></class>
            <class name="test.SearchEmployeeTest"></class>
            <class name="test.AddAdminUserTest"></class>
            <class name="test.UploadEmployeeAttachmentTest"></class>
            <class name="test.DownloadEmployeeAttachmentTest"></class>
            <class name="test.UpdateEmployeePersonalDetailsTest"></class>
        </classes>
    </test>
</suite>

